<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css    ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/chat.css" />
    <style>
        p.item {
        padding: 16px;
        text-align: center;
        border-radius: 8px;
        color: white;
        background-color: green;
        }
    </style>
    <title>{{title}}</title>
  </head>
  <body>
    {{#if flash}}
      <div class="text-center fade show alert alert-dismissible alert-{{flash.type}}">
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-hidden="true"
        >&times;</button>
        <strong>{{flash.intro}}</strong>
        {{flash.message}}
      </div>
    {{/if}}
    {{{body}}}
  </body>
</html>
